* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
}

#board {
  width: 800px;
  height: 800px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.squareRow {
  width: 800px;
  height: 100px;
  background-color: white;
  border: solid 1px black;
}

.whiteSquare {
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid 1px black;
}

.blackSquare {
  width: 100px;
  height: 100px;
  background-color: black;
  border: solid 1px black;
}

.checkersPiece {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
